In [16]:
c = "*"
for i  in range (1,5):
    for j in range (1,i+1):
        print(c,end=" ")
    print()

*
* *
* * *
* * * *

In [5]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [3]:
a = int(input("enter a number"))
if a % 2 == 0:
    print ("even")
elif  a % 1 == 0:
        print ("odd")

even

In [5]:
a = input("enter a number")
print(a[::-1])

432

In [6]:
d = [1,2,3,4,5,6,7,8,9,]
max(d)

9

In [3]:
def  word(n):
 print ("hello"+n)
word("boom")

helloboom

In [ ]:
def add(a,b):
    return a+b
print(add(2,3))

7

In [8]:
def sqrt(m,n):
    return m*n
print(sqrt(9,4))

36

In [20]:
def a(sum):
    return sum
def add(a,b):
 c = a+b
 return c
print(add(5,5))

10

In [23]:
def fact(n):
    if n==0 or n==1:
        return 1
    else:
     return n*fact(n-1)
print(fact(3))

6

In [35]:
a = [i for i in range (12)  if i%2==0]
print(a)

[0, 2, 4, 6, 8, 10]

In [ ]:
words =  ["apple","banana", "kiwi","grapefruit"]
words = [i  for i in words if len(i)>5]
print(words)

['banana', 'grapefruit']

In [41]:
s = [{"name":"john","age":18},
     {"name": "jane","age":20}]

list1 = [i["name"] for i in s]
print(list1)

['john', 'jane']

In [ ]:
s =  [ [1,2,3],[4,5,6],[7,8,9]]
list =ifor in s 
print(list)

SyntaxError: invalid syntax (2117664226.py, line 2)