In [22]:
c = "*"
for i  in range (1,5):
    for j in range (1,i+1):
        print(c,end=" ")
    print()

*
* *
* * *
* * * *

In [ ]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
12
123
1234
12345

In [3]:
a = int(input("enter a number"))
if a % 2 == 0:
    print ("even")
elif  a % 1 == 0:
        print ("odd")

even

In [5]:
a = input("enter a number")
print(a[::-1])

432

In [6]:
d = [1,2,3,4,5,6,7,8,9,]
max(d)

9

In [3]:
def  word(n):
 print ("hello"+n)
word("boom")

helloboom

In [ ]:
def add(a,b):
    return a+b
print(add(2,3))

7

In [8]:
def sqrt(m,n):
    return m*n
print(sqrt(9,4))

36

In [20]:
def a(sum):
    return sum
def add(a,b):
 c = a+b
 return c
print(add(5,5))

10

In [23]:
def fact(n):
    if n==0 or n==1:
        return 1
    else:
     return n*fact(n-1)
print(fact(3))

6

In [35]:
a = [i for i in range (12)  if i%2==0]
print(a)

[0, 2, 4, 6, 8, 10]

In [ ]:
words =  ["apple","banana", "kiwi","grapefruit"]
words = [i  for i in words if len(i)>5]
print(words)

['banana', 'grapefruit']

In [41]:
s = [{"name":"john","age":18},
     {"name": "jane","age":20}]

list1 = [i["name"] for i in s]
print(list1)

['john', 'jane']

In [5]:
i =  [ [1,2,3],[4,5,6],[7,8,9]]
list = i 
for i  in s:
 print(list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
y = 20 #global variable
def add_five():
    return y+5
print(add_five())

25

In [10]:
def add():
 x = 5 #local variable 
 result  = 5+x   
 return result
 print(x)
print(add())

10

In [50]:
class A:
    def __init__(self):
        pass
    
    def add(self, d, c):
        return d + c

n = A()
print(n.add(9, 8))   # output: 17

17

In [57]:
class student:
    def  __init__(self,name,mark,age):
        self.name = name
        self.__mark = mark
        self.age = age
    def s(self):
            self.name = "sidharth"
            self.__mark = 90
            self.age = 18 
    def display (self):
      print(f"my name is {self.name} my age is {self.age} and my mark {self.__mark}")

In [60]:
#abstract class
from abc import ABC, abstractmethod
class math(ABC):
    @abstractmethod
    def start(self):
        pass
class square(math):
    def v(self):
        return self.a*self.a

In [89]:
class employee:
    def __init__(self,name,salary):
        self.salary = salary
        self.name = name


class developer(employee):
    def __init__(self,name,salary,language):
       super().__init__(name,salary)
       self.language = language
    def show_details(self):
        return f"developer:{self.name}, salary: {self.salary}, language:{self.language}"
class manager(employee):
    def __init__(self, name, salary, team_size):
        super().__init__ (name,salary)
        self.team_size = team_size
    def show_details(self):
       return f"manager: {self.name}, salary: {self.salary}, team size: {self.team_size}"
    
employer1 = developer("sidharth","75000","python")
print(employer1.show_details())
employer2 = manager("jordan carter","100000","6")
print(employer2.show_details())

developer:sidharth, salary: 75000, language:python
manager: jordan carter, salary: 100000, team size: 6

In [10]:
class Person:
    def __init__(self,name,age,):
        self.name = name
        self.age = age
class employee(Person):
    def __init__(self,name,age,salary):
      super().__init__(name,age,)
      self.salary = salary
    def show_details(self):
        return f"employee:{self.name},age:{self.age},salary:{self.salary}"
worker1 = employee ("sidharth",18,"700000")
print(worker1.show_details())

employee:sidharth,age:18,salary:700000

In [1]:
class Vehicle:
    def __init__(self, brand):
        self.brand = brand
    def start_engine(self):
        return f"{self.brand} engine is starting..."
class Car(Vehicle):
    def start_engine(self):
        return f"{self.brand}  is on neutral"
    def play_music(self):
         return f"{self.brand} music is being played"
class electric (Vehicle):
    def charge_battery(self):
         return f"{self.brand} battery level at 99%"
class Bike(Vehicle):
    def start_engine(self):
        return f"{self.brand}  reving "
class Truck(Vehicle):
    def start_engine(self):
        return f"{self.brand} loud rumbling"
a = Car("PORSCHE")
b = electric("HUMMER EV")
c = Bike("SUZUKI")
d = Truck("VOLVO")

print(a.start_engine())
print(a.play_music())
print(b.charge_battery())
print(c.start_engine())

print(d.start_engine())

PORSCHE  is on neutral
PORSCHE music is being played
HUMMER EV battery level at 99%
SUZUKI  reving
VOLVO loud rumbling

In [17]:
class shapes:
    def area (self):
     return "not the defined the shape"
class rectangle(shapes):
   def __init__(self, length, breadth):
        self.length = length
        self.breadth = breadth
   def area(self): #method overriding
        return self.length*self.breadth #calculation
class square(shapes):
    def __init__(self, side):
        self.side = side
    def area(self):  # method overriding
        return self.side*self.side #calculation
Q1 =  rectangle(2,4)
Q2 =  square(3)
print( Q1.area())  
print( Q2.area())

8
9

In [3]:
class library:
    def __init__(self,title,stock=0):
        self.title=title
        self.stock=stock
    def  borrow(self,s):
        if self.stock <0:
            self.stock -=s
            return f"{self.stock} books remaining..."
        else:
            print("haven't stock left")
    def return_book(self,n=0):
        self.stock+=n 
        return f"you're stock added successfull.... now {self.stock} are remining.."
    def check_stock(self):
          print(self.stock)
book1=library("beserk",5)
print(book1.borrow(5))  
print(book1.return_book(5))
book1.check_stock()

haven't stock left
None
you're stock added successfull.... now 10 are remining..
10

In [3]:
class shape :
    def draw(self):
        return f"draw a generic a shape"
class circle(shape):
    def draw(self):
        return f"draw a circle"
class rectangle(shape):
    def draw (self):
        return f"draw a rectangle"
class square(shape):
    def draw(self):
        return f"draw a square"
shape =[shape(),circle(),rectangle(),square()]
for s in shape :
    print (s.draw())

draw a generic a shape
draw a circle
draw a rectangle
draw a square

In [ ]:
#getter = method used to access (read) the value of a private variable.
#setter = method used to update (write) the value of a private variable.
# private variable = variale declared using double underscore(__)
# data encapsulation = hiding the complex the part of the data and showing the essential

In [31]:
class laptop:
    def __init__(self, price): # private variable
        self.__price = price
    # using getter
    def get_price(self):
        return self.__price
   # using setter
    def set_price(self, price):
        if price >10000:
            self.__price = price
        else:
            print("price is too low!")

 # making object
a1 = laptop(12000) 
a1.set_price(7000)
print(a1.get_price())

price is too low!
12000

create a book class

In [13]:
class book:
    def __init__(self,title): #private variable
        self.__title = title
#using getter
    def get_title(self):
        return self.__title

In [ ]:
# method overloading means having multiplwe methods with same name but different parameters.
# *args allows the method to accept any number of arguments.(for variables number of positional argument)

create a class maths with a method multiply():
2*3 = 6
2*3*2 = 12

In [39]:
class calculator:
    def product(self, *args):
        product = 1

        for i in args:
            product = product*i
        return product
calc  = calculator()
print(calc.product(3, 6))
print(calc.product(3,6,8))

18
144

In [2]:
#create a class employee with a method show_details(**kwargs)that should:
# accept ay number of keyword argumnts like name, age, salary,departments.
class Employee:
    def show_details(self,**kwargs):
        for k,v in kwargs.items():
            print(f'{k}:{v}')
#passing object
emp = Employee()
emp.show_details( name = "sidharth", age =18) 
emp.show_details( name = "sidharth", age = 18, salary = 75000, department = "aiml engeneering")

name:sidharth
age:18
name:sidharth
age:18
salary:75000
department:aiml engeneering

In [4]:
def remove_duplicates(lst):
 v1 = set()
 result = []
 for num in lst:
    if num not in v1:
        result.append(num)
        v1.add(num)
    return result
numbers = [1, 2, 3, 2, 4, 1, 5, 3, 6]
print("Original list:", numbers)
print("List without duplicates:", remove_duplicates(numbers))

Original list: [1, 2, 3, 2, 4, 1, 5, 3, 6]
List without duplicates: [1]

In [41]:
class employee:
    company_name = "puma"
    def __init__(self,name,salary) :
        self.name =  name
        self.salary = salary
#using instance method
    def show_details(self):
        print (f"i am {self.name} and my salary is{self.salary} ")
#using class method
    @classmethod
    def change_company(cls,amd):
      cls.company_name = amd
      return f"company is {cls.company_name}" 
# using static method
    @staticmethod
    def is_valid (salary):
        return salary>0

e1 = employee("sidharth",750000)
e1.show_details()
print(employee.change_company("amd"))
print(employee.is_valid(4000))

i am sidharth and my salary is750000
company is amd
True

In [53]:
class BankAccount:
    rate = 12
    def __init__(self,balance):
        self.balance = balance
#using instance method
    def deposit(self, amount):
        self.balance += amount
#using class method
    @classmethod
    def set_interest_rate(cls,rate):
        cls.rate = rate
        return f"the rate now is {cls.rate}"
#using static method
    @staticmethod
    def bank_policy():
        print("minimum balance should be 1000")
c1 = BankAccount(45000)
c1.deposit(1000)
print(BankAccount.set_interest_rate(13))
BankAccount.bank_policy()

the rate now is 13
minimum balance should be 1000

write a program to reverse a tuple wihtout using slicing([::-1])

In [ ]:
a=(1,2,3,4,5,6)
v =a(-1)
print(v)

TypeError: 'tuple' object is not callable

In [ ]:
class Product:
    def __init__(self,name,price):
        self.name = name
        self.price = price

class Electronics(Product):
    def __init__(self, name, price, warranty):
     super().__init__(name,price)
     self.warranty = warranty
     print( f"The product {self.name} costs {self.price} and have warranty up to {self.warranty} year ")

class  clothing(Product):
   def __init__(self,name, price, size ):
        super().__init__(name,price)
        self.size =size 
        print( f"the product {self.name} costs about {self.price} and the size is {self.size}")

class Furniture(Product):
   def __init__(self, material):
        self.material = material
        print (f"the {self.material} is imported")
        
A1 = Electronics ("sony headphone",20000,2)
A2 = clothing ("CHROME HEARTS leather jacket",45000,"XL")
A3 = Furniture ("sofa")

The product sony headphone costs 20000 and have warranty up to 2 year
the product CHROME HEARTS leather jacket costs about 45000 and the size is XL
the sofa is imported

In [ ]:
class FullTimeEmployee:
    def __init__(self,name, salary):
        self.name = name
        self.salary = salary

    def calculate(self):
        return(f"you are {self.name} and your fixed salary is {self.salary}") 
    
class PartTimeEmployee:
    def __init__(self,name, rate, hour):
        self.name = name
        self.rate = rate
        self.hour = hour

    def calculate_salary(self):
        y = self.rate*self.hour
        return y

a1 = PartTimeEmployee("sidharth",5,8)
print(a1.calculate_salary())

40

In [ ]:
a = int(input("enter a number"))
b = int(input("enter a number"))
print(a+b)
print(a-b)
print(a*b)

11
-3
28

In [25]:
Vehicle ={"Car":"skoda","model": 2018,"type":"AMT"}
print(Vehicle)


Vehicle["Car"] = "ferrari"
print(Vehicle)


Vehicle ["model"] = "2025"
print(Vehicle)

del Vehicle["model"]
print(Vehicle)

{'Car': 'skoda', 'model': 2018, 'type': 'AMT'}
{'Car': 'ferrari', 'model': 2018, 'type': 'AMT'}
{'Car': 'ferrari', 'model': '2025', 'type': 'AMT'}
{'Car': 'ferrari', 'type': 'AMT'}

In [45]:
Cars = ["sedans","hatchback","suv","mini suv","coupe"]
print(Cars)

Cars.insert(3,"crossover")
print(Cars)

Cars.remove("mini suv")
print(Cars)

Cars.sort(key=str.lower)
print(Cars)

Cars.append("hyper sport")
print(Cars)

['sedans', 'hatchback', 'suv', 'mini suv', 'coupe']
['sedans', 'hatchback', 'suv', 'crossover', 'mini suv', 'coupe']
['sedans', 'hatchback', 'suv', 'crossover', 'coupe']
['coupe', 'crossover', 'hatchback', 'sedans', 'suv']
['coupe', 'crossover', 'hatchback', 'sedans', 'suv', 'hyper sport']

In [11]:
class food:
    def __init__(self,name, price, hotel, place, ):
        self.name = name
        self.price = price
        self.hotel = hotel
        self.place = place

    def __str__(self):
        return (f"this fantastic {self.name} is just for {self.price} rupees in {self.hotel} near {self.place}")
a = food("shawarma",110,"Freetime","pipeline jn")

print(a)

this fantastic shawarma is just for 110 rupees in Freetime near pipeline jn

In [1]:
# Fibonacci series using iteration

# Input
N = int(input("Enter the number of terms: "))

# Initialize first two terms
a, b = 0, 1

print("Fibonacci Series:", end=" ")

for i in range(N):
    print(a, end=" ")
    # Update values
    a, b = b, a + b

Fibonacci Series: 0 1 1 2 3 5 8 13

In [1]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

    # Instance method
    def display_info(self):
        print(f"Name: {self.name}, Marks: {self.marks}")

s1 = Student("Alice", 85)
s1.display_info()  # works on a specific object

Name: Alice, Marks: 85

In [11]:
class football:
    def __init__(self, team,  league):
        self.team = team
        self.league = league

    def display(self):
        print(f"Team:{self.team}  League:{self.league}")
    
s = football("REAL MADRID","LALIGA")
s.display()

Team:REAL MADRID  League:LALIGA

In [39]:
class phone:
    def __init__(self,price):
        self.__price = price
#using getter
    def get_price(self):
     return self.__price

    def set_price(self, price):
       if price >2000:
         self.__price = price
       else:
          print("u broke as hell. get a j*b")
a1 = phone(10000)
a1.set_price(1000)
print(a1.get_price())

u broke as hell. get a j*b
10000

In [ ]:
c = {"name" : "sidharth", "class" :"plus two", "city": "Ernakulam" }
print(c)
c["subject"] = "computer science"
print(c)
del c["class"]
c

{'name': 'sidharth', 'class': 'plus two', 'city': 'Ernakulam'}
{'name': 'sidharth', 'class': 'plus two', 'city': 'Ernakulam', 'subject': 'computer science'}

{'name': 'sidharth', 'city': 'Ernakulam', 'subject': 'computer science'}

In [24]:
class bank:
    def __init__(self, loan, deposit):
        self.loan =  loan
        self.deposit = deposit

    def cashier(self):
        return (f" 13% interest on {self.loan} loan, deposit {self.deposit} to complete plan")
    
a = bank ("student", 3000)
a.cashier()

' 13% interest on student loan, deposit 3000 to complete plan'

In [18]:
class calculator:
    def __init__(self,a,b):
        self.a = a
        self.b = b
    def add(self):
        return self.a+self.b
    
    def subtract(self):
        return self.a-self.b
    
    def multiply(self):
        return self.a*self.b
    
    def division(self):
        return self.a / self.b
    
d1 = calculator(4,5)
d1.subtract()
d1.multiply()
d1.add()
print("addition:",d1.add())
print("subtraction:",d1.subtract())
print("product:",d1.multiply())
print("division:", d1.division())

addition: 9
subtraction: -1
product: 20
division: 0.8

 name: sidharth, role: AI Engineer salary: 90000
name :frida, role:branch salary: 120000
 name: sidharth, role: AI Engineer salary: 100000
name :frida, role:branch salary: 130000

In [1]:
class Vehicle:
    def __init__(self,name,price):
        self.name = name
        self.price = price
    
    def show_brochure(self):
        return f"the name of the car is {self.name} and the price of the car is {self.price}"
                                 
    def set_price(self, price):
        if price < 0:
            print("budget is too low")
        else:
            self.set_price = 0

    def get_price(self):
        return self.price
    
object1 = Vehicle("Bentley Flying Spur",25000000)
print(object1.show_brochure())
object1.set_price(-2500000)

the name of the car is Bentley Flying Spur and the price of the car is 25000000
budget is too low

In [6]:
#Write a calculator problem using OOP concepts like class, objects, instance methods, and encapsulation ?.
class Calculator:
    def __init__(self, a,b):
        self.a = a
        self.b = b
    def add(self):
        return self.a + self.b
    
    def subtract(self):
        return self.a - self.b
    
    def multiply(self):
        return self.a*self.b

    def division(self):
         return self.a/self.a
objectr = Calculator(23,45)
print("addition:",objectr.add())
print("subtraction:",objectr.subtract())
print("multiply:",objectr.multiply())
print("division:",objectr.division())

addition: 68
subtraction: -22
multiply: 1035
division: 1.0

In [ ]:
class Shop:
    def __init__(self,veggies,meat):
        self.veggies = veggies
        self.meat = meat
        
    def show_details(self):
        return f"there is only {self.veggies} and no {self.meat}"
        
objector1 = Shop("vegetables","chicken")
objector2 = Shop("lamb chops","carrots")
print(objector1.show_details())
print(objector2.show_details())

there is only vegetables and no chicken
there is only lamb chops and no carrots

In [ ]:
class Vehicle:
    def __init__(self,brand, model):
        self.brand = brand
        self.model = model
   
    def show_info(self):
        return f"this is a{self.brand} and its a {self.model}"

class Car(Vehicle):
    def __init__(self,brand, model, fuel_type):
        super().__init__(brand, model)
        self.fuel_type = fuel_type
    
    def show_info (self):
        return f"this is a {self.brand} and its a {self.model} model its fuel type is {self.fuel_type}"

objector1 = Car("Bentley",2012,"petrol")
print(objector1.show_info())

this is a Bentley and its a 2012 model its fuel type is petrol

In [22]:
def greet():
    print("hello sir how are you ")
greet()

hello sir how are you

In [ ]:
def call():
    print("call rick")
call()

call rick

In [12]:
class calculator:
    def __init__(self, a,b):
        self.a = a
        self.b = b
    def add(self):
        return self.a + self.b
    
    def subtraction(self):
        return self.a - self.b
    
    def multiply(self):
        return self.a*self.b
    
    def division(self):
        return self.a/ self.b
    
calc = calculator(3,5)
calc.add()
calc.subtraction()
calc.multiply()
calc.division()
print(calc.add())
print(calc.subtraction())
print(calc.multiply())
print(calc.division())

8
-2
15
0.6

In [41]:
class Bank:
    def __init__(self, wrkinghours, profit, appraisal):
        self.wrkinghours = wrkinghours
        self.profit = profit
        self.appraisal= appraisal

    def set_appraisal(self,amount):
        if amount < 10000:
            print("upraisal to low")
        else:
            self.appraisal = 10000

    def show_details(self):
        return f"working hours: {self.wrkinghours}, profit you should make : {self.profit}%, appraisal: {self.appraisal}  "

class Employee(Bank):
    def __init__(self, wrkinghours, profit, appraisal,salary,OT):
        super().__init__(wrkinghours,profit,appraisal)
        self.salary = salary
        self.OT = OT

    def show_details(self):
            return f"working hours: {self.wrkinghours} , profit you made : {self.profit}%, appraisal: {self.appraisal}, salary: {self.salary}, OT: {self.OT}"
    
class Manager(Bank):
    def __init__(self,wrkinghours, profit, appraisal, salary,OT):
        super().__init__(wrkinghours, profit, appraisal)
        self.salary = salary
        self.OT = OT
            
    def show_details(self):
        return f"working hours: {self.wrkinghours} , profit you made : {self.profit}%, appraisal: {self.appraisal}, salary: {self.salary}, OT: {self.OT}"
    
object1 = Bank(8, 36, 12000)    
object2 = Employee(10,36,12000,800000, 4)
object3 = Manager(10,40,20000,120000,6)
object1.show_details()
print( "Bank:",object1.show_details())
print("Employee:",object2.show_details())
print("Manager:",object3.show_details())

Bank: working hours: 8, profit you should make : 36%, appraisal: 12000
Employee: working hours: 10 , profit you made : 36%, appraisal: 12000, salary: 800000, OT: 4
Manager: working hours: 10 , profit you made : 40%, appraisal: 20000, salary: 120000, OT: 6